:root{
    --warma-brown-1: #463139; /*Warma棕/主题&强调&深色文本色*/
    --warma-brown-2: #A8949D; /*Warma棕/装饰色&副强调色*/
    --warma-brown-3: #C9B9C0; /*Warma棕/横幅&区域背景色*/
    --warma-brown-4: #EDE6E9; /*Warma棕/分块色*/
    --warma-brown-5: #FAF7F9; /*Warma棕/任务栏*/
}